.ui-page{
  padding-left:10px!important;
}


.footer-button-left,
.footer-button-right {
      position: absolute;
      margin: 0;
      top: auto;
      bottom: 0.24em;

}
.footer-button-left {
      left: 0.4em;

}
.footer-button-right {
      right: 0.4em;

}
div.ui-controlgroup-label{
  font-size:30px;
}
.ui-mobile label{
  font-size:18px;
}
div.ui-controlgroup-controls .ui-btn{
  font-size:18px;
}


.connesso{
  color:#00ff00 !important;
}
.non_connesso {
  color:#ff0000 !important;
}

table .intera_riga{
    background-color: #A9FFA9 !important;
    text-align:center;
    font-weight:bold;
}

.pulsante_switch {
  width:100%;
/*  max-width:400px;
    max-height:400px;*/
    margin:auto;
    margin-top:50px;
}
.pulsante_switch img{
 width:100%;
  display:none;
}


.pulsante_switch img.attiva{
    display:block;
}


#result a{
   width:98%;
   margin-right:10px !important;
}

.msg_error a {
   color: #ff0000 !important;
}
.msg_success a {
  color:#00ff00 !important;
}
#result_details{
   font-size:0.7em;
}
.ui-collapsible-content {
   height: 250px !important;
   overflow-y:scroll !important;

}


.sp-picker-container{
   width:300px;
}
.pulsante_bri{
  width:50px !important;
}



@media screen and (max-width: 980px) {
    .pulsante_switch {
        max-width:none;
        max-height:none;
        height400px;
    }
    .pulsante_switch img{
/*        max-height:100px;*/
    }
}

